* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chillax", sans-serif;
}

html {
  font-size: 16px;
}

:root {
  --Background: #16161a;
  --Headline: #fffffe;
  --Paragraph: #94a1b2;
  --Button: #7f5af0;
  --Button-text: #fffffe;
  --Stroke: #010101;
  --Main: #fffffe;
  --Highlight: #7f5af0;
  --Secondary: #72757e;
  --Tertiary: #2cb67d;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --headline-font-size: 2rem;
  --paragraph-font-size: 1.2rem;
  --main-padding: 5px;
  --transition: all 0.3s ease 0s;
  
}

body {
  height: max-content;
  background-color: var(--Background);
}

body,
.container,
.content ,.contactIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  overflow: hidden;
}

.container {
  height: 100vh;
  max-width: 1000px;
}

.content {
  gap: var(--main-padding);
}

.myImage {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 3px solid var(--Secondary);
  object-fit: cover;
  padding: var(--main-padding);
}

.myName {
  font-size: var(--headline-font-size);
  color: var(--Headline);
  padding: var(--main-padding);
  font-weight: bold;
}

.myDicription {
  font-size: var(--paragraph-font-size);
  color: var(--Paragraph);
  padding: var(--main-padding);
  font-weight: lighter;
}


.contactIcons{
    flex-direction: row;
    gap: 1rem;
}

.contactIcons a i {
    color:var(--Paragraph) ;
    font-size: var(--paragraph-font-size);
    transition: var(--transition) ;
}

.contactIcons a i:hover {
    transform: scale(1.2) ;
    -webkit-transform: scale(1.2) ;
    -moz-transform: scale(1.2) ;
    -ms-transform: scale(1.2) ;
    -o-transform: scale(1.2) ;
}