* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Chillax, sans-serif;
}
html {
  font-size: 16px;
}
:root {
  --Background: #16161a;
  --Headline: #fffffe;
  --Paragraph: #94a1b2;
  --Button: #7f5af0;
  --Button-text: #fffffe;
  --Stroke: #010101;
  --Main: #fffffe;
  --Highlight: #7f5af0;
  --Secondary: #72757e;
  --Tertiary: #2cb67d;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --headline-font-size: 2rem;
  --paragraph-font-size: 1.2rem;
  --main-padding: 5px;
  --transition: all 0.3s ease 0s;
}
body {
  height: max-content;
  background-color: var(--Background);
}
.contactIcons,
.container,
.content,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  overflow: hidden;
}

li{
    list-style:  none;
}

a{
    text-decoration: none;

}

.container {
  height: 100vh;
  max-width: 1000px;
}
.content {
  gap: var(--main-padding);
  position: relative;
}

#main-navbar
{
position: absolute;
left: 0;
right: 0;
top: 0;
margin: auto;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
height: 66px;
margin-top: 20px;
max-width: 1000px;
border-bottom: 0.5px solid #72757e3f;
padding-bottom: 10px;
}

#main-navbar ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

#main-navbar a i {
    color: var(--Paragraph);
    font-size: var(--paragraph-font-size);
    transition: var(--transition);
  }



.slash{
    color: var(--Secondary);
}

#getInTouch li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
    width: max-content;
    padding: 5px;
    transition: var(--transition);
}
#getInTouch li a:hover{
    
color: var(--Main) !important;    
}

#getInTouch li a{
    color: var(--Secondary);
}

#getInTouch li a i{
    background-color: var(--Background);
    border: 1px solid var(--Secondary);
    border-radius: 50%;
    padding: 1rem;
}
.myImage {
    width: 120px;
    height: 120px;
  border-radius: 50%;
  border: 3px solid var(--Secondary);
  object-fit: cover;
}
.myName {
  font-size: var(--headline-font-size);
  color: var(--Headline);
  padding: var(--main-padding);
  font-weight: 700;
  text-align: center;
  font-size: 14px;
}
.myDicription {
  font-size: var(--paragraph-font-size);
  color: var(--Paragraph);
  padding: var(--main-padding);
  font-weight: lighter;
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
}
.contactIcons {
  flex-direction: row;
  gap: 1rem;
}


.contactIcons a{
    color: var(--Secondary);
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.contactIcons a:hover{
    color: var(--Paragraph);
}


#linkedinButton{
    font-size: 16px;
    font-weight: 400;
    fill: var(--Button-text);
    color: var(--Button-text);
    background-color: var(--Button);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--Secondary);
    padding: 24px 48px 24px 48px;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    font-size: 15px;
    padding: 12px 24px;
    border-radius: 3px;
    text-align: center;
    transition: all .3s;
}