:root {
    --Background:
        #f0f2f5; --Headline: #000; --Paragraph: #5f6c7b; --Button: #3da9fc; --Button-text: #f0f2f5; --Stroke: #094067; --Main: #f0f2f5; --Highlight: #3da9fc; --Secondary: #90b4ce; --Tertiary: #ef4565


    }

.lightmode {
    background-color: var(--Background)
}


.lightmode section , .lightmode main {
    background-color: var(--Background) !important;
}

.lightmode h1, .lightmode h2,  .lightmode h3, .lightmode h4, .lightmode h5,  .lightmode h6{
    color: var(--Headline) !important;
}

.lightmode p , .lightmode li , .lightmode span , .lightmode a {
    color: var(--paragraph) !important;
}

.lightmode img{
    filter: drop-shadow(rgba(99, 99, 99, 0.2) 0px 2px 8px 0px);
    -webkit-filter: drop-shadow(rgba(99, 99, 99, 0.2) 0px 2px 8px 0px);
}

.lightmode #skills:hover, .lightmode .projects:hover {
    text-shadow: unset !important;
    color: #000 !important;
}

.lightmode #skills , .lightmode .projects{
    background: linear-gradient(90deg, #ac85e1, #7cb5ee) !important;
    color: #000 !important;
    border: 1.8px solid #000;
}

.lightmode #notification{
    background-color: #e7ecff !important;
}