doctype html
head

  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  link(rel='icon' href='./favicon.ico')
  link(rel='stylesheet' href='./css/main.css')
  link(href='https://api.fontshare.com/v2/css?f[]=chillax@600,500,300&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')

  
  title Baraa




.container.animate__animated.animate__fadeIn
  .content




    img.myImage(src='Images/MyImage.jpeg' alt='MyImage' loading='lazy')

    h1.myName Baraa Alsher
    p.myDicription Software Engineer || Android Developer

    .contactIcons
    
      a(target='_blank' href='https://www.linkedin.com/in/baraa-alsher/')
        i.fa-brands.fa-linkedin
      a(target='_blank' href='https://github.com/Baraasher')
        i.fa-brands.fa-github
      a(target='_blank' href='mailto:alsher.info@gmail.com')
        i.fa-solid.fa-envelope
      a(target='_blank' href='https://api.whatsapp.com/send?phone=970593493899')
        i.fa-brands.fa-whatsapp
      a(target='_blank' href='https://www.youtube.com/c/MRBaraa')
        i.fa-brands.fa-youtube







script(src='https://kit.fontawesome.com/4824b5dc23.js' crossorigin='anonymous')
script(src='./js/main.js')
